{% extends 'core/base.html' %}

{% block content %}
<div class="container my-5">
    <h1 class="display-4 mb-3">Notifications</h1>

    {% if not notifications %}
        <p class="lead">No notifications yet!</p>
    {% else %}
        {% for notification in notifications %}
            <div class="card mb-3">
                <div class="card-body">
                    {% if notification.notification_type == 'message' %}
                        <h5 class="card-title">
                            <a href="{% url 'notifications' %}?goto=view_application&notification={{ notification.id }}&extra_id={{ notification.extra_id }}">
                                <strong>{{ notification.created_by.username }}</strong> sent you a message
                            </a>
                        </h5>
                    {% elif notification.notification_type == 'application' %}
                        <h5 class="card-title">
                            <a href="{% url 'notifications' %}?goto=view_application&notification={{ notification.id }}&extra_id={{ notification.extra_id }}">
                                <strong>{{ notification.created_by.username }}</strong> applied for your job
                            </a>
                        </h5>
                    {% endif %}
                    <p class="card-text">
                        <small class="text-muted">{{ notification.created_at|timesince }} ago</small>
                    </p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
