<!-- templates/your_app/contact.html -->

{% extends 'core/base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}

<div class="container mt-5">
    <h2>Contact Us</h2>

    <p>If you have any questions or feedback, feel free to contact us!</p>

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Company Details:</h3>
            <p class="card-text">Company Name: Tylextech</p>
            <p class="card-text">Address: air line socity 1st floor, Lahore, Pakistan</p>
            <p class="card-text">Email: info@tylextech.com</p>
            <p class="card-text">Phone: +1 234 567 890</p>
        </div>
    </div>

</div>

{% endblock %}
